.home {
    .categories {
        margin: 5px;
        justify-content: center;
        .item {
            cursor: pointer;
        }
        .item.active {
            background-color: #0dcaf0;
        }
    }
    .addButtons {
        filter: drop-shadow(0 0 1px  #0dcaf0);
        transition: all 0.2s linear;
    }
    // .addButtons:hover {
    //     background-color: transparent;
    //     color: #0dcaf0;
    //     filter: drop-shadow(1px 1px 2px #0dcaf0);
    // }
    .products {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        .product {
            background: #ffffff8c;
            -webkit-backdrop-filter: blur(30px);
            backdrop-filter: blur(30px);
            box-shadow: 2px 2px 5px 1px #c1c1c1c1;
            color: #201f1f;
            width: 21rem;
            margin: 5px;
            .productButton{
                button, a {
                width: fit-content;
                text-wrap: nowrap;
                margin: 0 2px;
                }
            }
            .image {
                height: 200px;
                object-fit: cover;
            }
            .icon:hover {
                cursor: pointer;
            }
        }
    }
}



.cartContainer{
border: #0000003f 1px solid;
position: absolute;
inset-inline-end: 10px;
inset-block-start: 40%;
padding: 10px;
display: flex;
flex-direction: column;
gap: 0.5em;
.dataContainer{
border: #0000003f 1px solid;
    display: flex;
    gap: 1em;
    padding-inline: 0.5em;
}
}
.icons{
    border: #0000003f 1px solid;
    border-radius: 50%;
    display: grid;
    place-items: center;
    width: 32px;
    height: 32px;
}